{{!-- my code here --}}
<div class="container">

    <div class="row mb-4 mt-4">
        <div class="col-10">
        </div>

        {{!-- <div class="col-2">
            <button class="btn btn-primary btn-sm" id="scrape" type="submit">Scrape</button>
        </div> --}}


        <div class="col-2">
            {{!-- <form action="/mynews" method="GET"></form> --}}
            <button class="btn btn-primary btn-sm" id="mynews" type="submit">MyNews</button>
            {{!-- </form> --}}
        </div>

        <div class="row">
            <div class="col">
                <h1 class="text-center pt-5 pb-3">ABC NEWS: LATEST POLITICS HEADLINES Mongo Scraper</h1>
                <h2 class="text-center pt-3 pb-3">Keep the news to read later and add your comments to any news</h2>
            </div>
        </div>

        <div class="container">

            <ul class="pl-5">
                {{#each articles}}
                <li>
                    <div class="row pt-2 pb-5">
                        <div class="col-2">
                            <img style="width:240px;height:160px;" src="{{{image}}}">
                        </div>
                        <div class="col-5">
                            {{title}}
                        </div>
                        <div class="col-3">
                            {{_id}}
                        </div>
                        <div class="col-1">
                            {{formatDate date day="numeric" month="long" year="numeric"}}
                        </div>
                        <div class="col-1">
                            <button class="savearticle" data-id="{{_id}}">Save</button>
                        </div>
                        <div class="col-1">
                            <button class="btn-sm btn-success" data-toggle="modal" data-target="#modalnote" data-id="{{_id}}">Add
                                note</button>
                        </div>
                    </div>
                </li>
                {{/each}}
            </ul>
        </div>

        <div class="modal fade" id="modalnote" tabindex="-1" role="dialog" aria-labelledby="my-modal" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">

                    <div class="modal-body">
                        <form>
                            <label for="notetitle" class="col-form-label">Title:</label>
                            <input type="text" class="form-control" id="notetitle">

                            <label for="notebody" class="col-form-label">Note:</label>
                            <input type="text" class="form-control" id="notebody">

                        </form>
                    </div>

                    <div class="modal-footer">
                        <div class="col-4" id="savenote">

                        </div>
                    </div>
                </div>
            </div>
        </div>



    </div>
    <script src="../js/app.js"> </script>